<div class="container" style="background-color: rgb(68, 167, 137);">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" (input)="onNameChange($event)" />
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input type="date" class="form-control" (input)="onDateChange($event)" />
    </div>

    <div class="col">
      <label><b>Date</b></label>
      <div>
        {{ date | date: 'MMMM d, yyyy' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input class="form-control" (input)="onAmountChange($event)" />
    </div>

    <div class="col">
      <label><b>Payment Amount</b></label>
      <div>
        {{ amount | currency: 'CAD' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" (input)="onHeightChange($event)" />
    </div>

    <div class="col">
      <label><b>Height</b></label>
      <div>
        {{ height | number: '1.0-2' }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" (input)="onMileChange($event)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div *ngIf="(miles | convert: 'km') > 10">
        {{ miles | convert: 'km' }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col">
    </div>
    <div class="col">
      <label><b>Decimal</b></label>
      <div>
        {{ miles | convert: 'cm' | number: '1.0-2' }}
      </div>
    </div>
  </div>
</div>