<nav>
  <ul class="pagination">
    <li class ="page-item" [ngClass]="{ disabled: currentImage === 0 }">
      <a (click)="currentImage = currentImage -1" class="page-link">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index;">
      <li class="page-item" 
        [ngClass]="{ active: i === currentImage }"
        *ngIf="currentImage < i + 3 && currentImage > i - 3"
      >
        <a (click)="currentImage = i" class="page-link">{{ i+1 }}</a>
      </li>
    </ng-container>
    <li class ="page-item"  [ngClass]="{ disabled: currentImage === images.length -1 }">
      <a (click)="currentImage = currentImage  + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<table >
  <thead>
      <tr>
          <th [attr.colspan]="headerSpan">Table Header</th>
          <th > Header</th>
      </tr>
  </thead>
  <tbody>
      <tr [class.table-warning]="showWarning">
          <td [style.background-color]="showBackground ? grayBackground : null" >Column 1</td>
          <td>Column 2</td>
          <td>Column 3</td>
      </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>First Language</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.age}}</td>
      <td>{{user.language}}</td>
      <td>{{user.active}}</td>
    </tr>
  </tbody>
</table>

<div>
  <h4 [appClass]="'yellow'">{{ images[currentImage].title }}</h4>
  <img [src]="images[currentImage].url"/>
</div>


<!-- <div [ngSwitch]="currentImage">
  <div *ngSwitchCase="0">
    Current page is 0
  </div>
  <div *ngSwitchDefault>
    Unknown current page
  </div>
</div> -->
